<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/plantilla1 :: head">
        <title>Ventas</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body >
        <div class="container">
            <header th:replace="fragments/plantilla1 :: header">
            
            </header>
            <div class="card">
                <div class="card-header">
                  <h1 class="card-header">Sistema de Ventas</h1>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <h1 class="card-header">Sistema de Ventas</h1>
        </div>
        
    </body>
</html>
